@model  IEnumerable<CRUDWITHDAPPER.Models.PatientInfo>
@{
}
<script src="~/Scripts/Patient.js"></script>


<table class="table" border="1" id="DataTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            <label>Details</label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile_No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a href="#" data-toggle="popover" data-trigger="focus" id="@item.Patient_Id">Details</a>
            </td>
            <td>
                <a class="btn btn-primary" onclick="GetPatient('@item.Patient_Id')">Edit</a>
                <a class="btn btn-danger" onclick="DeletePatient('@item.Patient_Id')">Delete</a>
                <i class="fa fa-info-circle" style="font-size:48px;color:blue"></i>
            </td>
        </tr>
    }

</table>
@Scripts.Render("~/bundles/patient")

